@import "tailwindcss";

@theme {
  --color-primary: #B2DAFF;
  --color-primary-dark: #1E293B;
  --color-accent-blue: #DDEEFE;
  --color-surface-light: #FFFFFF;
  --color-surface-dark: #171821;
}

/* Custom Utilities */
.hide-scroll::-webkit-scrollbar {
  display: none;
}
.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}
